<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Buildings</key>
        <array>
            <string>Alexander Hall</string>
            <string>Rozanski Hall</string>
            <string>A.A. Thornbrough</string>
            <string>Science Complex</string>
            <string>War Memorial Hall</string>
        </array>
        <key>Latitude</key>
        <array>
            <string>43.52947989999999</string>
            <string>43.5322267</string>
            <string>43.53062489999999</string>
            <string>43.5303822</string>
            <string>43.53257139999999</string>
        </array>
        <key>Longitude</key>
        <array>
            <string>-80.22746339999998</string>
            <string>-80.2258579</string>
            <string>-80.22504680000003</string>
            <string>-80.22859849999998</string>
            <string>-80.23139070000002</string>
        </array>
    </dict>
</plist>
